<section class='authorize-section'>
  <img class='authorize-section__logo' src='{{logoImage}}' />
  <div class='authorize-section__form-container'>
    <h2 class='authorize-section__form-title'>Log In To Your Account</h2>
    <p class='authorize-section__form-decription'>Nice to see you again</p>
    <form class='authorize-section__form form form-login'>
      {{> Input class='form__login' type='text' placeholder='Login' name='' id='reg-login' }}
      {{> Input class='form__password' type='password' placeholder='Password' name='' id='login-password' }}
      {{> ConfirmButton buttonText='Enter' }}
    </form>
  </div>
  <div class='authorize-section__image-container'>
    <img src='{{astronautImage}}' alt='astronaut' />
  </div>
</section>