.chat-container {
  background-color: rgba(0, 0, 0, 1);
  width: 100vw;
  height: 100vh;
  display: flex;
}

.header {
  width: 100%;
  height: 72px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 20px;
}

.chat-options {
  flex: 30%;
  background-color: rgba(255, 255, 255, 0.05);

  &__options-title {
    font-size: 28px;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
    margin: 0 0 0 -170px;
  }

  &__search {
    width: 100%;
    margin: 32px 0;
    padding: 0 20px;
  }

  &__search-container {
    position: relative;
    width: 100%;
  }

  &__search-input {
    width: 100%;
    height: 40px;
    background: rgba(134, 134, 134, 0.1);
    outline: none;
    border: none;
    padding: 10px 16px 10px 48px;
    font-size: 15px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    color: #fff;

    &::placeholder {
      font-size: 15px;
      font-style: normal;
      font-weight: 400;
      line-height: normal;
      color: #fff;
    }
  }

  &__search {
    img {
      position: absolute;
      top: 10px;
      left: 16px;
    }
  }

  &__group {
    position: relative;
    width: 100%;
    display: flex;
    gap: 32px;
    padding: 0 0 6px 0;
    list-style: none;

    &::before {
      position: absolute;
      content: '';
      background: rgba(255, 255, 255, 0.2);
      width: 100%;
      height: 2px;
      bottom: 0;
    }
  }

  &__group-selector {
    width: 120px;
    background: none;
    border: none;
    font-size: 15px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    color: #fff;
    padding: 0 20px;
    cursor: pointer;

    &::before {
      position: absolute;
      display: inline-block;
      content: '';
      background: #a167ff;
      width: 100px;
      height: 2px;
      bottom: 0;
      opacity: 0;
    }
  }
}

.active-selector {
  color: #a167ff;
  font-weight: 600;

  &::before {
    opacity: 1;
  }
}

.chat-list {
  overflow-y: auto;
  height: calc(100% - 199px);
}

.chat-list-item {
  list-style: none;
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 16px;
  padding: 16px 20px;
  border-bottom: 2px solid black;

  &__imgbx {
    width: 48px;
    height: 48px;
    overflow: hidden;
    border-radius: 50%;
  }

  &__text-container {
    width: 100%;
  }

  &__top-content {
    display: flex;
    align-items: center;
    justify-content: space-between;
  }

  &__bottom-content {
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 30px;
  }
}

.chat-messenger {
  flex: 70%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;

  &__header {
    background-color: rgba(255, 255, 255, 0.05);
  }

  &__selected-chat-info {
    display: flex;
    align-items: center;
    gap: 16px;
  }

  &__selected-chat-photo {
  }

  &__selected-chat-name {
    font-size: 17px;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
  }

  &__options-container {
    list-style: none;
    display: flex;
    align-items: center;
    gap: 16px;
  }

  &__options-button {
    background: none;
    border: none;
    color: #fff;
  }

  &__messages-window {
    width: calc(100% - 200px);
    height: calc(100% - 136px);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
    gap: 8px;
    overflow-y: auto;
  }

  &__message-container {
    width: 100%;
    display: flex;
    justify-content: flex-start;

    &_companion {
      justify-content: flex-end;
    }
  }

  &__input-area {
    width: calc(100% - 200px);
    padding: 0 0 20px 0;
  }

  &__input-container {
    position: relative;
    width: 100%;
    display: flex;
  }

  &__input {
    width: 100%;

    input {
      width: 100%;
      height: 44px;
      padding: 0 0 0 44px;
      border: none;
      &::placeholder {
        color: rgba(14, 21, 30, 0.5);
        font-size: 16px;
        font-style: normal;
        font-weight: 400;
        line-height: normal;
      }
      img {
        position: absolute;
        left: 12px;
        top: 12px;
      }
    }
  }

  &__send-message-button {
    width: 44px;
    height: 44px;
    background: none;
    border: none;
    background-color: rgba(161, 103, 255, 1);
    box-sizing: border-box;
  }
}

.message {
  display: flex;
  gap: 18px;
  padding: 16px;
  border-radius: 0px 4px 4px 4px;
  background: rgba(255, 255, 255, 0.9);
  backdrop-filter: blur(2px);

  &_companion {
    background: rgba(161, 103, 255, 0.8);
  }

  &__text {
    margin: 0;
    padding: 0;
    color: #0e151e;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;

    &_companion {
      margin: 0;
      padding: 0;
      color: #0e151e;
      font-size: 16px;
      font-style: normal;
      font-weight: 400;
      color: #fff;
    }
  }

  &__time {
    color: rgba(65, 65, 65, 0.6);
    font-size: 12px;
    font-style: normal;
    font-weight: 400;
    &_companion {
      color: rgba(255, 255, 255, 0.5);
    }
  }
}
