$white-color: #FFF;
$black-color: #000;
$purple-color: #A167FF;
$background-color: #0E151E;
$text-color-gray: #BCBCBC;
$seacrh-input-color: #868686;
$message-time-color: #414141;
$input-title-text: #767676;
$input-border-text: #d9d9d9,

