<section class='authorize-section notFound'>
  <img class='authorize-section__logo' src='{{logoImage}}' />
  <div class='authorize-section__form-container notFound__container'>
    {{> PageTitle title="Ooops....Page not found" }}
    {{> ConfirmButton buttonText='Back Home' }}
  </div>
  <h2 class="notFound__title">
      404
  </h2>
</section>