.notFound {
    &__title {
        font-size: 410px;
        color: rgba(255, 255, 255, 0.50);
    }

    &__container {
        display: flex;
        flex-direction: column;
        gap: 20px;
    }
}